{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment"
      }
    },
    "target": "es2017"
  },
  "env": {
    "targets": "> 0.25%, not dead",
    "coreJs": 3
  },
  "module": {
    "type": "commonjs"
  }
}
